body {
  margin: 0;
  font-family: Prachason, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #242424;
}

.my-color {
	color: red;
}

.my-font {
	font-family: 'Prachason';
}

.my-root-class {
	background: white;
}

.my-root-class body {
	background: url(./assets/background.svg) no-repeat center center fixed;
}

.kcButtonPrimaryClass{
  background-color: rgb(31, 123, 68);
  background-image: none;
  border-color: initial;
}

.kcButtonPrimaryClass:hover{
  background-color: rgb(31, 123, 68);
  background-image: none;
  border-color: initial;
}